<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/main.css">
    <title>Blog Sign UP</title>
</head>

<body>
    <nav>
        <div>
            <%= user.name %>
        </div>
    </nav>
    <a href="/update-profile">Profile</a>
    <a href="/sign-out">Sign Out</a>




    <script src="/main.js"></script>
</body>

</html>