<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/main.css">
    <title>Blog Sign UP</title>
</head>
<body>
    <form action="/sign-up" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" class="form-input" required/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" class="form-input" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-input" required/>
        </div>
        <div>
            <label for="password-confirmation">Password Confirmation</label>
            <input type="password" class="form-input"required/>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    Already have an account? <a href="/sign-in">Sign In</a>
  <script src="/main.js"></script>
</body>
</html>